### DataFrame

2D data structure

Rows & Columns labeled

Columns can have different data types

Create from
* Dictionary of 1D ndarrays, listss, dicts, or Series
* 2D numpy.ndarray
* Structured or record ndarray
* Series
* Another DataFrame
* File - csv, excel, etc

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5, 4.], index=['a', 'b', 'c', 'd'])}

sample_df = pd.DataFrame(data)
sample_df

   one  two
a  1.0  1.5
b  2.0  2.5
c  3.0  3.5
d  NaN  4.0

In [3]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5, 4.], index=['a', 'b', 'c', 'd'])}

sample_df = pd.DataFrame(data, index=['d','c','b'])
sample_df

   one  two
d  NaN  4.0
c  3.0  3.5
b  2.0  2.5

In [4]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5, 4.], index=['a', 'b', 'c', 'd'])}

sample_df = pd.DataFrame(data, index=['d','c','b'], columns=['two', 'one'])
sample_df

   two  one
d  4.0  NaN
c  3.5  3.0
b  2.5  2.0

### Accessing Elements

In [5]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5, 4.], index=['a', 'b', 'c', 'd'])}
sample_df = pd.DataFrame(data)

sample_df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [6]:
sample_df['one']['a']

1.0

In [7]:
sample_df['one']['a'] = 42
sample_df

    one  two
a  42.0  1.5
b   2.0  2.5
c   3.0  3.5
d   NaN  4.0

In [9]:
sample_df.one

a    42.0
b     2.0
c     3.0
d     NaN
Name: one, dtype: float64

In [10]:
sample_df.one

a    42.0
b     2.0
c     3.0
d     NaN
Name: one, dtype: float64

In [11]:
sample_df.two

a    1.5
b    2.5
c    3.5
d    4.0
Name: two, dtype: float64

In [12]:
sample_df.a

AttributeError: 'DataFrame' object has no attribute 'a'

In [13]:
sample_df[0,1]

KeyError: (0, 1)

In [14]:
sample_df['a', 'two']

KeyError: ('a', 'two')

loc, iloc

In [15]:
sample_df.loc['a'][1]

1.5

In [16]:
sample_df.loc['a','two']

1.5

In [17]:
sample_df.loc['a':'c']

    one  two
a  42.0  1.5
b   2.0  2.5
c   3.0  3.5

In [18]:
sample_df.loc['a']["two"]

1.5

In [19]:
sample_df.loc['a'][1]

1.5

In [20]:
sample_df.iloc[0][1]

1.5

### at and iat

at uses index

iat used position

In [21]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5, 4.], index=['a', 'b', 'c', 'd'])}
sample_df = pd.DataFrame(data)

sample_df.at['a','one']

1.0

In [22]:
sample_df.iat[0,0]

1.0

### Changing Row and Column Index

In [23]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5, 4.], index=['a', 'b', 'c', 'd'])}
sample_df = pd.DataFrame(data)

sample_df.index = ['v','w','x','z'] # row index
sample_df.columns = ['cat', 'dog']
sample_df

   cat  dog
v  1.0  1.5
w  2.0  2.5
x  3.0  3.5
z  NaN  4.0

### Creating DataFrame

In [24]:
# From Series

d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'two': pd.Series([1.5, 2.5, 3.5, 4.5], index=['a', 'b', 'c', 'd'])}
pd.DataFrame(d)

   one  two
a  1.0  1.5
b  2.0  2.5
c  3.0  3.5
d  NaN  4.5

In [25]:
data = [(1, 2., 'Hello'), (2, 3., "World")]
pd.DataFrame(data)

   0    1      2
0  1  2.0  Hello
1  2  3.0  World

In [26]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [27]:
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
              ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
              ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
              ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
              ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

### Calculation

In [28]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                   'New York': 141297, 'Florida': 170312,
                   'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [29]:
data['density'] = data['pop']/data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [30]:
data.T      # Transpose

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [31]:
data.plot()    # Sort of meaningless

In [32]:
data.to_csv()

',area,pop,density\nCalifornia,423967,38332521,90.41392608386974\nTexas,695662,26448193,38.01874042279153\nNew York,141297,19651127,139.07674614464568\nFlorida,170312,19552860,114.80612053173\nIllinois,149995,12882135,85.88376279209307\n'

### Reading Data

Formats
* CSV
* JSON
* HTML
* MS Excel
* HDF5
* Parquet
* SAS
* Python Pickle Format
* SQL
* Google Big Query

In [33]:
from io import StringIO
data = ('col1,col2,col3\n'
        'a,b,1\n'
        'a,b,2\n'
        'c,d,3')

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

### Contents of local file states.csv

state,area,pop,density  
California,423967,38332521,90.41392608386974  
Texas,695662,26448193,38.01874042279153  
New York,141297,19651127,139.07674614464568  
Florida,170312,19552860,114.80612053173  
Illinois,149995,12882135,85.88376279209307

In [34]:
pd.read_csv("states.csv")

        state    area       pop     density
0  California  423967  38332521   90.413926
1       Texas  695662  26448193   38.018740
2    New York  141297  19651127  139.076746
3     Florida  170312  19552860  114.806121
4    Illinois  149995  12882135   85.883763

In [35]:
pd.read_csv("states.csv", header=0, index_col=0)

              area       pop     density
state
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### R Datasets

Collection of ~1000 Data sets 

Used
    To illustrate/test algorithms
    In textbooks & assignments 

[List](https://vincentarelbundock.github.io/Rdatasets/datasets.html)

### Iris Dataset

![Iris flower](https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/iris-flowers.jpg?itok=RvCxClOE)

### Sepal and Petal
![Sepal  Petal](220px-Petal-sepal.jpg)

### Iris Dataset

Given measurements of A Sepal and a petal can we determine which iris?

Dataset contains 150 rows of measurements

Three types of iris
* Setosa
* Versicolor
* Virginica

In [36]:
flower_data_url = "https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv"
flower_data = pd.read_csv(flower_data_url, index_col=0)
flower_data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

### Assign

Returns a copy of the dataframe

In [37]:
iris = pd.read_csv(flower_data_url, index_col=0)

(iris
 .assign(sepal_ratio=iris['Sepal.Width'] / iris['Sepal.Length'])
 .head())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  sepal_ratio
1           5.1          3.5           1.4          0.2  setosa     0.686275
2           4.9          3.0           1.4          0.2  setosa     0.612245
3           4.7          3.2           1.3          0.2  setosa     0.680851
4           4.6          3.1           1.5          0.2  setosa     0.673913
5           5.0          3.6           1.4          0.2  setosa     0.720000

Using Lambda

In [38]:
(iris
 .assign(sepal_ratio=lambda x: (x['Sepal.Width'] / x['Sepal.Length']))
 .head())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  sepal_ratio
1           5.1          3.5           1.4          0.2  setosa     0.686275
2           4.9          3.0           1.4          0.2  setosa     0.612245
3           4.7          3.2           1.3          0.2  setosa     0.680851
4           4.6          3.1           1.5          0.2  setosa     0.673913
5           5.0          3.6           1.4          0.2  setosa     0.720000

In [39]:
 (iris
  .assign(SepalRatio=lambda x: x['Sepal.Width'] / x['Sepal.Length'],
          PetalRatio=lambda x: x['Petal.Width'] / x['Petal.Length'])
  .plot(kind='scatter', x='SepalRatio', y='PetalRatio'))

### Prolems with dots in names

Some syntax does not support dots in names

In [40]:
iris = pd.read_csv(flower_data_url, index_col=0)
iris.Sepal.Width

AttributeError: 'DataFrame' object has no attribute 'Sepal'

In [41]:
iris.columns = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa

In [42]:
iris.SepalWidth.head(3)

1    3.5
2    3.0
3    3.2
Name: SepalWidth, dtype: float64

### Operations on DataFrames

Done element by element

In [43]:
data = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two': pd.Series([1.5, 2.5, 3.5], index=['a', 'b', 'c'])}
sample_df = pd.DataFrame(data)
sample_df + 10

    one   two
a  11.0  11.5
b  12.0  12.5
c  13.0  13.5

In [44]:
np.sin(sample_df)

        one       two
a  0.841471  0.997495
b  0.909297  0.598472
c  0.141120 -0.350783

In [45]:
sample_df + sample_df

   one  two
a  2.0  3.0
b  4.0  5.0
c  6.0  7.0

### DataFrame & Series Operations

Default is row-wise

In [46]:
a = pd.DataFrame([[1,2,3], [4,5,6],[7,8,9]])
a

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [47]:
b = pd.Series([1,2,3])
b

0    1
1    2
2    3
dtype: int64

In [48]:
a - b

   0  1  2
0  0  0  0
1  3  3  3
2  6  6  6

### Column-wise Operations with Series

In [49]:
a = pd.DataFrame([[1,2,3], 
                  [4,5,6],
                  [7,8,9]])
b = pd.Series([1,2,3])
a.subtract(b, axis=0)

   0  1  2
0  0  1  2
1  2  3  4
2  4  5  6